@import '../../common.scss';

.modal {
  border-radius: 0 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-background-color;
  padding: 1.5rem 6rem;
  box-sizing: border-box;
  text-align: center;
  z-index: 15;
  border: 3px solid $point-color-02;
  display: none;

  &.show {
    display: block;
  }

  > .text {
    color: $text-color-02;
    font-size: 1.125rem;
    font-weight: 500;
  }

  > .submit {
    @include button;
  }
}
