@import '../../common.scss';

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $point-color-01;
  padding: 2rem 5rem;
  box-sizing: border-box;
  text-align: center;
  z-index: 15;
  display: none;

  &.show {
    display: block;
  }

  > .text {
    color: $text-color-01;
    font-size: 1.25rem;
    font-weight: 400;
  }

  > .submit {
    @include button;
    margin-top: 1rem;
    background-color: $point-color-02;
  }
}
