@import '../../common.scss';

.container {
  @include flexCenter;
  min-height: 50vh;

  > form {
    width: 100%;
    max-width: 30rem;

    > .title {
      color: $point-color-02;
      font-size: 1.25rem;
      line-height: 3;
    }

    > .formList {
      > li {
        padding-bottom: 1rem;

        > .id,
        .password,
        .name {
          color: $point-color-01;
          width: 100%;
          padding: 0.5rem;
          box-sizing: border-box;
          border: 0;
          font-size: 1rem;
        }

        > ul {
          display: flex;
          align-items: center;

          > li {
            margin-right: 1rem;

            > .submit {
              @include button;
              color: $text-color-01;
              background-color: $point-color-01;

              &:hover {
                background-color: $point-color-02;
              }
            }

            > .sign {
              @include button;
              color: $text-color-01;
              display: block;
              background-color: gray;

              &:hover {
                background-color: $point-color-02;
              }
            }
          }
        }
      }
    }
  }
}
